// Website theme/bootstrap

$theme-colors: (
	"primary" : #5EB1BF,
	"secondary" : #233D4D,
	"white" : #efefef,
	"light-gray" : #A6AFB1,
	"dark-gray": #39393A,
);




// import bootstrap css
@import '../../node_modules/bootstrap/scss/bootstrap';

.carousel-item {
	img {
		width: 360px;
		height: 270.05px;
	}
}